In [1]:
from Sentiment_analysis import *

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
from unidecode import unidecode

In [3]:
import pandas as pd
import numpy as np

In [4]:
import proj_base

In [5]:
from os import listdir

In [190]:
lst = []
file_list = sorted(listdir('./Review_Texts/'))
for i in range(500):
    filename = file_list[i]
#     intColumns = ['No. Reader', 'No. Helpful', 'Cleanliness','Check in / front desk', 'Value', 'Overall', 'Service', 'Business service', 'Rooms', 'Location']
    characterThreshold = 60
    with open('./Review_Texts/'+filename, 'r') as content_file:
        content = content_file.read()
        
        #print(repr(content))
    if content.count("\r") > 0:
        reviews = content.split("\r\n\r\n")
    else:
        reviews = content.split("\n\n")
    
    count = 0
    for r in reviews:
        thisReview = {}
        splt = r.split("\n")
        for s in splt:
            for c in ['Content']:
                if "<"+c+">" in s:
                    value = s.replace('<'+c+'>', '')
                    if c in intColumns:
                        value = int(value)
                    if value == -1: #we dont want -1 as this is going to mess up averaging, take np.nan
                        value = np.nan

                    if c == "Content":
                        value = unidecode(unicode(value.lower(), encoding="utf-8"))

                    thisReview[c] = value
                    
        if not thisReview.get("Content") == None and len(thisReview["Content"]) > 60:
            #only add if theres content and its long enough
            count += 1
            
    lst.append(count)

In [192]:
lst

[124,
 145,
 32,
 131,
 64,
 123,
 81,
 73,
 137,
 194,
 117,
 111,
 56,
 79,
 284,
 86,
 149,
 121,
 63,
 123,
 41,
 19,
 67,
 54,
 124,
 196,
 183,
 63,
 98,
 23,
 36,
 62,
 34,
 41,
 65,
 42,
 27,
 29,
 57,
 65,
 26,
 37,
 26,
 32,
 56,
 110,
 23,
 21,
 43,
 15,
 37,
 148,
 122,
 86,
 199,
 77,
 61,
 116,
 33,
 32,
 52,
 41,
 100,
 156,
 33,
 322,
 200,
 274,
 21,
 99,
 83,
 157,
 112,
 82,
 228,
 675,
 92,
 24,
 49,
 31,
 141,
 183,
 244,
 192,
 128,
 142,
 71,
 209,
 138,
 152,
 83,
 46,
 154,
 214,
 36,
 848,
 85,
 104,
 33,
 41,
 45,
 112,
 89,
 67,
 56,
 92,
 77,
 130,
 128,
 160,
 375,
 82,
 102,
 20,
 37,
 63,
 27,
 336,
 28,
 38,
 186,
 90,
 13,
 60,
 58,
 20,
 66,
 76,
 70,
 23,
 155,
 61,
 28,
 27,
 43,
 94,
 28,
 148,
 345,
 51,
 89,
 26,
 79,
 60,
 105,
 397,
 255,
 443,
 51,
 563,
 44,
 182,
 225,
 113,
 634,
 921,
 1397,
 250,
 418,
 530,
 89,
 373,
 98,
 393,
 142,
 1030,
 446,
 597,
 395,
 291,
 352,
 71,
 182,
 167,
 47,
 55,
 81,
 23,
 50,
 95,
 255,
 77,
 29,
 49,
 34,
 41,
 165,
 26,
 43,
 24,
 21,
 50,
 45,
 149,
 343,
 53,
 72,
 20,
 32,
 54,
 218,
 91,
 56,
 62,
 95,
 21,
 49,
 44,
 87,
 115,
 176,
 222,
 171,
 255,
 110,
 104,
 34,
 87,
 125,
 149,
 68,
 245,
 68,
 50,
 91,
 266,
 49,
 239,
 37,
 53,
 72,
 135,
 88,
 65,
 47,
 39,
 176,
 165,
 504,
 357,
 77,
 73,
 38,
 80,
 110,
 165,
 65,
 128,
 69,
 49,
 63,
 53,
 494,
 55,
 34,
 83,
 36,
 47,
 50,
 126,
 93,
 95,
 50,
 106,
 103,
 151,
 55,
 46,
 70,
 86,
 108,
 54,
 50,
 71,
 56,
 68,
 50,
 56,
 74,
 26,
 164,
 26,
 26,
 45,
 50,
 53,
 58,
 41,
 71,
 89,
 47,
 84,
 161,
 24,
 27,
 21,
 77,
 92,
 30,
 35,
 116,
 56,
 64,
 47,
 138,
 28,
 72,
 32,
 126,
 36,
 66,
 83,
 56,
 62,
 71,
 83,
 110,
 126,
 103,
 53,
 73,
 183,
 23,
 106,
 92,
 113,
 291,
 61,
 63,
 51,
 41,
 48,
 128,
 108,
 33,
 43,
 41,
 123,
 88,
 39,
 60,
 49,
 310,
 68,
 67,
 74,
 412,
 1078,
 28,
 61,
 27,
 107,
 17,
 382,
 343,
 164,
 379,
 124,
 199,
 202,
 148,
 435,
 126,
 40,
 47,
 30,
 270,
 202,
 40,
 96,
 116,
 304,
 284,
 148,
 59,
 38,
 33,
 35,
 33,
 49,
 54,
 127,
 306,
 27,
 41,
 195,
 59,
 221,
 123,
 605,
 895,
 199,
 2337,
 79,
 30,
 113,
 400,
 190,
 49,
 36,
 185,
 85,
 60,
 44,
 175,
 84,
 29,
 26,
 37,
 40,
 264,
 34,
 97,
 40,
 24,
 351,
 32,
 91,
 224,
 364,
 113,
 28,
 135,
 38,
 52,
 195,
 38,
 35,
 73,
 33,
 48,
 185,
 374,
 25,
 110,
 104,
 49,
 67,
 167,
 256,
 77,
 109,
 281,
 112,
 135,
 58,
 55,
 18,
 75,
 90,
 65,
 46,
 64,
 61,
 152,
 46,
 37,
 43,
 173,
 161,
 134,
 48,
 51,
 75,
 47,
 34,
 57,
 61,
 85,
 57,
 48,
 75,
 118,
 40,
 266,
 43,
 38,
 47,
 131,
 57,
 97,
 186,
 64,
 89,
 298,
 120,
 117,
 169,
 157,
 97,
 100,
 213,
 33,
 78,
 93,
 123,
 328,
 145,
 23,
 85]

In [207]:
lst[:0]

[]

In [193]:
data = pd.read_csv('data.csv')

In [208]:
data.ix[:lst[0],'Hotels'] = 1
j = 2
for i in range(1,len(lst)):
    offset = sum(lst[:i])
    data.ix[offset:offset+lst[i],'Hotels'] = j
    j += 1

In [214]:
data.to_csv('data2.csv')

In [6]:
# data = proj_base.getStandardData(numFiles=50)
# print(data.shape)
# data.head()

(4008, 13)

,Rooms,Date,Location,Service,Business service,Author,Check in / front desk,No. Helpful,Cleanliness,Content,Value,No. Reader,Overall
0,5.0,"Dec 23, 2008",5.0,5.0,NaN,selizabethm,5.0,NaN,5.0,wonderful time- even with the snow! what a gre...,4.0,NaN,5.0
1,4.0,"Nov 13, 2008",5.0,5.0,NaN,IndieLady,5.0,NaN,4.0,"lovely hotel, unique decor, friendly front des...",5.0,NaN,4.0
2,4.0,"Nov 11, 2008",3.0,NaN,4,Hilobb,5.0,NaN,4.0,"nice hotel, expensive parking we got a good de...",4.0,NaN,4.0
3,5.0,"Nov 4, 2008",5.0,5.0,5,Chianti_girl24,5.0,NaN,5.0,fabulous hotel location and service are great....,5.0,NaN,5.0
4,NaN,"Oct 18, 2008",NaN,NaN,NaN,hothearted,NaN,2,NaN,"loved the monaco! staff was amazing, with a sm...",NaN,2,5.0

In [8]:
data = pd.read_csv('data.csv')
data.shape

(64152, 14)

In [11]:
# keywords are calculated using the first 50 hotels, though entire data is 500 hotels. so first import 50 hotels, get keywords
# and then import data.csv

In [7]:
proj_base.aspectSegmentationChiSquared(data, min_freq = 10)

{'Business service': ['business',
  'center',
  'computer',
  'internet',
  u'access',
  u'convention',
  u'wireless',
  u'free',
  u'westlake',
  u'fitness',
  u'wifi',
  u'printer',
  u'connection'],
 'Check in / front desk': ['stuff',
  'check',
  'help',
  'reservation',
  u'upon',
  u'early',
  u'desk',
  u'front',
  u'clerk',
  u'arrival',
  u'staff',
  u'told',
  u'called'],
 'Cleanliness': ['clean',
  'dirty',
  'maintain',
  'smell',
  u'comfortable',
  u'room',
  u'rooms',
  u'bed',
  u'small',
  u'beds',
  u'king',
  u'bathroom',
  u'floor'],
 'Location': ['location',
  'traffic',
  'minute',
  'restaurant',
  u'great',
  u'good',
  u'market',
  u'pike',
  u'place',
  u'value',
  u'shopping',
  u'walk',
  u'downtown'],
 'Rooms': ['room',
  'suite',
  'view',
  'bed',
  u'comfortable',
  u'floor',
  u'king',
  u'clean',
  u'beds',
  u'spacious',
  u'large',
  u'size',
  u'bathroom'],
 'Service': ['service',
  'food',
  'breakfast',
  'buffet',
  u'continental',
  u'customer',
  u'restaurant',
  u'good',
  u'excellent',
  u'ate',
  u'location',
  u'value',
  u'dinner'],
 'Value': ['value',
  'price',
  'quality',
  'worth',
  u'money',
  u'good',
  u'great',
  u'location',
  u'hotel',
  u'deal',
  u'seattle',
  u'downtown',
  u'stayed']}

In [9]:
for aspect in proj_base.seeds:
    proj_base.aspect = aspect
    train = proj_base.getTrainingData(data)
    train.to_csv('train'+'_'.join(aspect.split('/'))+'.csv')
    print aspect

Service
Business service
Cleanliness
Check in / front desk
Value
Rooms
Location

In [217]:
del data

In [160]:
train = pd.read_csv('trainRooms.csv')

In [161]:
train.head()

,Unnamed: 0,aspectRating,aspectSentences,Content,Overall
0,0,5.0,['from the goldfish in the room (which my daug...,wonderful time- even with the snow! what a gre...,5.0
1,1,4.0,['the decor at the kimpton hotels is always un...,"lovely hotel, unique decor, friendly front des...",4.0
2,2,4.0,['we were a little disappointed by the (non-ex...,"nice hotel, expensive parking we got a good de...",4.0
3,3,5.0,"['the valet was a doll, the front desk got me ...",fabulous hotel location and service are great....,5.0
4,5,3.0,['well to start off i booked a suite and paid ...,"ok, but nothing special for the $$ they charge...",2.0

In [162]:
import ast
train['aspectSentences2'] = train['aspectSentences'].copy()
train['aspectSentences'] = train['aspectSentences'].apply(ast.literal_eval)

In [163]:
train['aspectRating'].value_counts()

5.0    13928
4.0    12287
3.0     5748
2.0     3227
1.0     2074
Name: aspectRating, dtype: int64

In [164]:
train.ix[train['aspectRating'] == 3, 'aspectRating'] = 2

In [165]:
train.ix[(train['aspectRating'] == 4) | (train['aspectRating'] == 5), 'aspectRating'] = 3

In [166]:
train['aspectRating'].value_counts()

3.0    26215
2.0     8975
1.0     2074
Name: aspectRating, dtype: int64

In [167]:
mins = train['aspectRating'].value_counts().min()
train_balanced = train.groupby("aspectRating").apply(lambda x: x.sample(n=mins))

In [168]:
train_balanced = train_balanced.apply(addSentimentScores, axis = 1)

In [169]:
X_senti = train_balanced.iloc[:,6:]

In [170]:
X_senti.head()

                    score  score_basic_pos  score_basic_neg  score_basic  \
aspectRating
1.0          29097   -3.0                2               -3           -1
             31757    9.0                9                0            9
             8365     1.0                3               -2            1
             23976    0.0                3               -3            0
             5594    -1.0                1               -2           -1

                    score_pos  score_neg
aspectRating
1.0          29097        0.0       -3.0
             31757        9.0        0.0
             8365         3.0       -2.0
             23976        3.0       -3.0
             5594         1.0       -2.0

In [171]:
from sklearn import preprocessing

In [172]:
min_max_scaler = preprocessing.MinMaxScaler()
X_senti = min_max_scaler.fit_transform(X_senti)

In [173]:
import string
import sklearn.feature_extraction 
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
# from sklearn.naive_bayes import GaussianNBa

In [174]:
def custom_tokenizer(review):  
    review = review.encode('ascii',errors='ignore')
    review = review.translate(None,string.punctuation)
    words = nltk.tokenize.word_tokenize(review)
    words = [nltk.stem.porter.PorterStemmer().stem(word) for word in words]
    # stop words removed by vectorizer
    
    return words

In [175]:
TfidVect = sklearn.feature_extraction.text.TfidfVectorizer(min_df=10, ngram_range=(1,2), tokenizer = custom_tokenizer,
                                                      stop_words = nltk.corpus.stopwords.words('english'))
X_tfidf = TfidVect.fit_transform(train_balanced['aspectSentences2'].tolist())
X_tfidf = X_tfidf.toarray()

In [203]:
newX = np.concatenate((X_tfidf,X_senti), axis = 1)

In [204]:
lin_clf = sklearn.svm.LinearSVC()

In [205]:
X_train, X_test, y_train, y_test = train_test_split(newX, train_balanced['aspectRating'].tolist() )
lin_clf.fit(X_train,y_train)
y_predicted = lin_clf.predict(X_test)

print (pd.Series(y_predicted) == pd.Series(y_test)).mean()
print ((pd.Series(y_predicted)-pd.Series(y_test))**2).mean()

0.609254498715
0.516066838046

In [195]:
from sklearn.decomposition import PCA
pca = PCA(n_components=100)
pca.fit(X_train)
X_train2 = pca.transform(X_train)
X_test2 = pca.transform(X_test)

In [196]:
lin_clf.fit(X_train2,y_train)
y_predicted = lin_clf.predict(X_test2)

print (pd.Series(y_predicted) == pd.Series(y_test)).mean()
print ((pd.Series(y_predicted)-pd.Series(y_test))**2).mean()

0.657455012853
0.460154241645

In [201]:
def select_top(clf):
    top = []
    for i in range(5):
        top += list(np.argsort(clf.coef_[i])[-500:])
        
    return top

In [202]:
top_indices = select_top(lin_clf)

IndexError: index 3 is out of bounds for axis 0 with size 3

In [117]:
X_train2 = np.concatenate((X_train[:,0:5], X_train[:,top_indices]), axis=1)
X_test2 = np.concatenate((X_test[:,0:5], X_test[:,top_indices]), axis=1)

lin_clf.fit(X_train2,y_train)
y_predicted = lin_clf.predict(X_test2)

(pd.Series(y_predicted) == pd.Series(y_test)).mean()

IndexError: index 7486 is out of bounds for axis 1 with size 7469

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_tfidf, train_balanced['aspectRating'].tolist() )

In [ ]:
lin_clf.fit(X_train,y_train)
y_predicted = lin_clf.predict(X_test)

In [ ]:
print (pd.Series(y_predicted) == pd.Series(y_test)).mean()
print ((pd.Series(y_predicted)-pd.Series(y_test))**2).mean()

In [ ]:
TfidVect = sklearn.feature_extraction.text.TfidfVectorizer(min_df=10, ngram_range=(1,1), tokenizer = custom_tokenizer,
                                                      stop_words = nltk.corpus.stopwords.words('english'))
X_tfidf = TfidVect.fit_transform(train_balanced['aspectSentences'].tolist())
X_tfidf = X_tfidf.toarray()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_tfidf, train_balanced['aspectRating'].tolist() )

In [ ]:
lin_clf = sklearn.svm.LinearSVC()
lin_clf.fit(X_train,y_train)
y_predicted = lin_clf.predict(X_test)

In [ ]:
(pd.Series(y_predicted) == pd.Series(y_test)).mean()

In [ ]:
clf = GaussianNB()
clf.fit(X_train,y_train)
y_predicted = clf.predict(X_test)
(pd.Series(y_predicted) == pd.Series(y_test)).mean()

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(lin_clf, X_tfidf, train_balanced['aspectRating'].tolist(), cv = 5)
scores.mean()

In [ ]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i,"{0:.2f}".format(cm[i, j]),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

In [ ]:
# Test confusion matrix function
y_pred = y_predicted
class_names=range(1,6)
# Compute confusion matrix
cnf_matrix = confusion_matrix(y_test, y_pred)

# Plot non-normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=class_names,
                      title='Confusion matrix, without normalization')

# Plot normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=class_names, normalize=True,
                      title='Normalized confusion matrix')


plt.show()

In [ ]:
test = pd.read_csv('test.csv')